<!-- Footer Navigation -->
<footer id="footer" class="section-bg">
  <div class="container">
    <div class="grid">
      <div class="col-span-full">
        <div class="social-icon">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.facebook.com/CyberalSolutions/" target="_blank" rel="noopener"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/company/cyberalsolutions/" target="_blank" rel="noopener"><i class="ti-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="copyright text-center">
          <a href="/index.html"><img src="/images/logo.png" alt="Cyberal Solutions" class="lozad"></a>
          <div class="text-sm text-muted">&copy; Cyberal Solutions</div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/plugins/lazy-load/lozad.min.js"></script>
<script src="/js/smooth-nav.js"></script>
<script src="/js/mobile-menu.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8FWEE9W2L5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8FWEE9W2L5');
</script>
<script src="/js/site-init.js"></script>
